body {
    display: flex;
    justify-content: center;
}

.major-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 200px;
    border: 2px solid #000
}

.row {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
    border: 1px solid #ddd;
    background-color: white;
    transition: background-color 0.1s ease;
}
